{% extends 'new/index-corporate-7.html' %}
{% block menu %}  {% endblock %}
{% block footer %}  {% endblock %}
{% block main %}
<div role="main" class="main" style="padding-top: 120px">
    <div class="container">
        <section class="http-error">
            <div class="row justify-content-center py-3">
                <div class="col-md-7 text-center">
                    <div class="http-error-main">
                        <h2>500!</h2>
                        <p>Al parecer la página solicitada está en mantenimiento.!</p>
                    </div>
                    <div class="http-error-main">
                        <a style="text-decoration: none" href="/">Volver a la página Principal</a>
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
{% endblock %}
