{% extends 'new/index-corporate-7.html' %}
{% block menu %}
    <ul class="koho-regular nav nav-pills  " id="mainNav">
        <li class="dropdown ">
            <a class="dropdown-item  " href="/">
                INICIO
            </a>
        </li>
        <li class="dropdown  ">
            <a class="dropdown-item" href="/productos/">
                PRODUCTOS
            </a>
        </li>
        <li class="dropdown ">
            <a class="dropdown-item" href="/empresa/">
                EMPRESA
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item" href="/ubicacion/">
                UBICACIÓN
            </a>
        </li>
        <li class="dropdown">
            <a class="dropdown-item" href="/contacto/">
                CONTÁCTANOS
            </a>
        </li>
    </ul>
{% endblock %}
{% block main %}
    <div role="main" class="main">
        <section class="page-header page-header-modern bg-color-dark page-header-md"
                 style="margin-bottom:-20px!important; background-image: url(/media/{{ editable.slider_1_fondo }}); background-size:1939px!important;  background-position:top !important; !important;">
            <div class="container">
                <div class="row">
                    <div class="col-md-12 align-self-center p-static order-2 text-center">
                        <br><br><br><br>
                        <h4 class=" koho-semibold text-color-primary font-weight-normal text-6"
                            style="letter-spacing: 7px">POST</h4>
                    </div>
                </div>
            </div>

        </section>

        <div class="page-content">

            <div class="holder mt-0">
                <div class="container py-4">

                    <div class="row">
                        <div class="col">
                            <div class="blog-posts single-post">

                                <article class="post post-large blog-single-post border-0 m-0 p-0">

                                    <div class="post-image ml-0" style="align-content: center!important;align-items: center!important;">

                                        {% if blogg.tipo_archivo == 'imagen' %}
                                            <img class="img-responsive" src="/media/{{ blogg.tipo_imagen }}" alt="" style="height:100% !important; width:100%;border-top-right-radius:10px 10px!important;border-top-left-radius:10px 10px!important;border-bottom-right-radius:10px 10px!important;border-bottom-left-radius:10px 10px!important;">
                                        {% else %}
                                        {% endif %}

                                        {% if blogg.tipo_archivo == 'video' %}
                                            <div class="position-relative">
                                                <div class="embed-responsive embed-responsive-4by3">
                                                    <video id="presentation2" class="float-left" height="200px!important" width="100%"  loop controls
                                                           preload="metadata">
                                                        <source src="/media/{{ blogg.tipo_video }}" type="video/webm">
                                                        <source src="/media/{{ blogg.tipo_video }}" type="video/mp4">
                                                    </video>
                                                    <a href="#"
                                                       class="position-absolute top-50pct left-50pct transform3dxy-n50 bg-light rounded-circle d-flex align-items-center justify-content-center text-decoration-none bg-color-hover-primary text-color-hover-light play-button-lg pulseAnim pulseAnimAnimated"
                                                       data-trigger-play-video="#presentation2" data-trigger-play-video-remove="yes">
                                                        <i class="fas fa-play text-5"></i>
                                                    </a>
                                                </div>
                                            </div>
                                        {% else %}
                                        {% endif %}

                                        {% if blogg.tipo_archivo == 'youtube' %}
                                            <div style="text-align: center">
                                                <iframe width="560" height="315"
                                                        src="https://www.youtube.com/embed/{{ blogg.link_youtube }}?showinfo=0&rel=0&theme=light&modestbranding=1&frameborder=0"
                                                        frameborder="0"
                                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                                        allowfullscreen>
                                                </iframe>

                                            </div>

                                        {% endif %}

                                        {% if blogg.tipo_archivo == 'galeria'%}
                                            <div class="col-12 col-sm-12 col-md-12 col-lg-112 col-xl-12" style="margin: 0px!important;padding: 0px!important;">
                                                <div class="owl-carousel owl-theme" data-plugin-options="{'items': 1, 'autoplay': false,'dots': false, 'autoplayTimeout': 3000}">
                                                    {% if blogg.imagen_galeria_1 %}
                                                        <img alt="" class="img-fluid" src="/media/{{ blogg.imagen_galeria_1 }}" style="height:100% !important; width:100%; border-top-right-radius:10px 10px!important;border-top-left-radius:10px 10px!important;border-bottom-right-radius:10px 10px!important;border-bottom-left-radius:10px 10px!important;">
                                                    {% endif %}

                                                    {% if blogg.imagen_galeria_1 %}
                                                        <img alt="" class="img-fluid" src="/media/{{ blogg.imagen_galeria_2 }}" style="height:100% !important; width:100%;border-top-right-radius:10px 10px!important;border-top-left-radius:10px 10px!important;border-bottom-right-radius:10px 10px!important;border-bottom-left-radius:10px 10px!important;">
                                                    {% endif %}

                                                    {% if blogg.imagen_galeria_1 %}
                                                        <img alt="" class="img-fluid" src="/media/{{ blogg.imagen_galeria_3 }}" style="height:100% !important; width:100%;border-top-right-radius:10px 10px!important;border-top-left-radius:10px 10px!important;border-bottom-right-radius:10px 10px!important;border-bottom-left-radius:10px 10px!important;">
                                                    {% endif %}
                                                </div>
                                            </div>
                                        {% else %}
                                        {% endif %}
                                    </div>


                                    <div class="post-content ml-0">

                                        <h2 class="font-weight-semi-bold"><a href="">{{ blogg.titulo }}</a></h2>

                                        <div class="post-meta">
                                            <span><i class="far fa-user"></i> Autor:<a
                                                    href="#">{{ blogg.autor }}</a> </span>
                                            <span><i class="icon-event icons"></i> Fecha:<a
                                                    href="#">{{ blogg.fecha }}</a> </span>

                                        </div>

                                        <p style="text-align: justify">{{ blogg.articulo }}</p>


                                        <div class="post-block mt-5 post-share">
                                            <h4 class="mb-3">Compartir esta publicacion</h4>

                                            <!-- AddThis Button BEGIN -->
                                            <div class="addthis_toolbox addthis_default_style ">
                                                <a class="addthis_button_facebook_like"
                                                   fb:like:layout="button_count"></a>
                                                <a class="addthis_counter addthis_pill_style"></a>
                                            </div>
                                            <script type="text/javascript"
                                                    src="//s7.addthis.com/js/300/addthis_widget.js#pubid=xa-50faf75173aadc53"></script>
                                            <!-- AddThis Button END -->
                                        </div>
                                    </div>

                                </article>

                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>


{% endblock %}
